server {
  listen {{ lighthouse_port }};
  server_name localhost;
  access_log /var/log/nginx/lighthouse_access.log main;

  location / {
    root {{ lighthouse_location_dir }};
    index index.html;
  }
}